.align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 98%;
  background: rgb(236, 231, 231);
}
.message-bubbles {
  padding: 3rem;
  overflow: scroll;
  margin-bottom: 1%;
  width: 80%;
  height: 90%;
  margin-right: 5%;
  border: 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  background-color: white;
  border-radius: 4px solid;
}
.box {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 80%;
  height: 100%;
  margin-bottom: 10px;
}

.sendMessageContainer {
  margin: 30px;
  border: 1px solid;
  border-radius: 4px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;

  /* margin-left: 30px; */
  border-radius: 4px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  /* /* align-items: flex-end; */
  justify-content: start;
  height: 90%;
  width: 90%;
  gap: 10px;
  /* border: 1px solid; */
}

.input {
  padding: 10px;
}
.messageHistory {
  margin: 1%;
}
.clear {
  background-color: red;
  border: 1px solid;
}

.footer {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 10px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .box {
    width: 90%;
  }
}

.errors {
  color: red;
}
