<div class="align-center">
    <h1>MY SMS MESSENGER</h1>
    <div class="box">
        <!-- <app-message-box></app-message-box> -->
        <div class="message-bubbles" #messageBubbles>
            <h4 class="messageHistory">Message history ({{messages.length}})</h4>
            <app-message-bubbles *ngFor="let message of messages "[message]="message" [phone_number]="phone_number"/>
        </div>
        
        <div class="sendMessageContainer">
            <h5>New message</h5>
            <input type="text" value='' [(ngModel)]="phone_number" class="input">
            <textarea type="text" value='' rows="5" cols="40" [(ngModel)]="new_message" ></textarea>
            <div class="footer">
                <app-button btnName="Clear" className="btnOutline" (btnClick)="onSendMessage()" [ngStyle]="{padding: '20px', height: '20px', width: '20px',display: 'block', border: 'none'}"></app-button>
                <app-button btnName="Submit" (btnClick)="onSendMessage()" [ngStyle]="{padding: '1rem', height: '1px',width: '10px', display: 'block'}" ></app-button>
            </div>
            <h5 class="errors">{{server_error}}</h5>
        </div>
    </div>
</div>