<div class="align-center">
    <h2>User Registration</h2>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div>
        <!-- <div *ngIf="myForm.controls['user.email'].errors?.['required'] && myForm.controls['user.email'].touched">Email is required</div> -->
        <input
          placeholder="user name"
          type="text"
          name="email"
          [(ngModel)]="user.email"
          maxlength="20"
        />
      </div>
      <div class="passwords">
        <input
          placeholder="Password"
          type="password"
          name="password"
          [(ngModel)]="user.password"
          
        />
        <input
          placeholder="Re enter Password"
          type="password"
          name="confirm_password"
          [(ngModel)]="user.confirm_password"
          
        />
      </div>
      <div *ngIf="errorMessage !== '' "  class="loginError">{{errorMessage}}</div>
      <div *ngIf="clientError !== '' "  class="loginError">{{clientError}}</div>
      <div class="btn-div">
        <button type="submit" [disabled]="myForm.invalid" class="login-btn">Login</button>
      </div>
    </form>
    <h4>Have an account ?</h4>
    <a routerLink="/login">Log in</a>
  </div>
  